<% include header.ejs %>

<div id="main">
    <h2 class="text-center">Add Module</h2>
    <div class="col-md-offset-4 col-md-4">
        <form action="">
            <lable>Title</lable>
            <input type="text" class="form-control" placeholder="Title">
            <lable>Description</lable>
            <textarea type="text" class="form-control" placeholder="Description"></textarea>
            <input type="submit" class="form-control btn-success">
        </form>
    </div>
</div>
<% include footer.ejs %>