<!-- Add New User modal -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Add New Employee</h1><br>
      <form action="/employee/new" method="post" id="new_user_form">
        <div class="col-md-6">
          <label>First Name</label>
          <input type="text" class="form-control" id="" name="firstName" placeholder="First Name">
        </div>
        <div class="col-md-6">
          <label>Last Name</label>
          <input type="text" class="form-control" id="" name="lastName" placeholder="Last Name">
        </div>
        <label>Username</label>
        <input type="text" class="form-control" id="" name="userName" placeholder="Username">
        <label>Password</label>
        <input name="password" placeholder="Choose Password" class="form-control" type="password">
        <label>Email</label>
        <input type="email" class="form-control" id="" name="email" placeholder="Email">
        <label>Phone #</label>
        <input type="number" class="form-control" id="" name="phone" placeholder="Phone #">
        <label>Designation</label>
        <select class="form-control" id="" name="designation">
          <option>Select Designation</option>
          <option>Software Developer</option>
          <option>Senior Software Developer</option>
          <option>Quality Assurance Engineer</option>
          <option>Human Resource Manager</option>
        </select>
        <label>Rank</label>
        <select class="form-control" id="" name="rank">
          <option>Select Rank</option>
          <option>Admin</option>
          <option>Engineering Owner</option>
          <option>Engineer</option>
        </select>
        <label>Salary</label>
        <input type="text" class="form-control" id="" name="salary" placeholder="Salary">
        <br>
        <button type="submit" class="btn btn-block btn-success" >Add User</button>
      </form> <!-- end of form -->

    </div>
  </div>
</div>

<!-- End of add new user modal -->
<!-- Add New Apply for leave/WFH -->

<div class="modal fade" id="L-WFH-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container extra-large">
      <h1>Apply For Leave/EFH</h1><br>
      <div id="form">
        <div class="row">
          <div class="col-md-6">
            <label>Apply For</label>
            <select class="form-control" id="">
              <option>Leave</option>
              <option>Work from Home</option>
            </select>
          </div>
          <div class="col-md-6">
            <label>Available Leaves</label>
            <input disabled class="form-control" value="9" >
          </div>
        </div>  <!-- end of row -->
        <label>Date</label>
        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; border-radius: 2px;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
          <span></span> <b class="caret"></b>
        </div>
        <br>
        <label>Description</label>
        <textarea class="form-control" placeholder="Reason..."></textarea>
        <br>
        <button class="btn btn-block btn-success" >Apply</button>

      </div> <!-- end of form -->
      <br>
    </div>
  </div>
</div>

<!-- End of Apply for leave/WFH -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
</body>
<script type="text/javascript">
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
</script>
<script type="text/javascript">
  $(function() {

    var start = moment().subtract(0, 'days');
    var end = moment();

    function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
        'Next 7 Days': [moment().add(1, 'days'), moment().add(7, 'days')]
      }
    }, cb);

    cb(start, end);

  });
</script>
</html>