<!-- Add New User modal -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Add New Employee</h1><br>
            <label for="" id="adduser-label" class=""></label>
            <div id="form">

                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                </div>
                <label>Username</label>
                <input type="text" class="form-control" id="username" name="userName" placeholder="Username">
                <label>Password</label>
                <input name="password" placeholder="Choose Password" id="password" class="form-control" type="password">
                <label>Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                <label>Phone #</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone #">
                <label>Designation</label>
                <select class="form-control" id="designation" name="designation">
                    <option>Software Developer</option>
                    <option>Senior Software Developer</option>
                    <option>Quality Assurance Engineer</option>
                    <option>Human Resource Manager</option>
                </select>
                <label>Rank</label>
                <select class="form-control" id="rank" name="rank">
                    <option>admin</option>
                    <option>engineering owner</option>
                    <option>engineer</option>
                </select>
                <label>Salary</label>
                <input type="text" class="form-control" id="salary" name="salary" placeholder="Salary">
                <br>
                <button type="button" class="btn btn-block btn-success" id="adduser-button">Add User</button>
            </div> <!-- end of form -->
        </div>
    </div>
</div>

<!-- End of add new user modal -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>\
<script type="text/javascript" src="/DataTables/media/js/jquery.dataTables.min.js"></script>
</body>
<script type="text/javascript">
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
</script>

</html>